.navbar {
    background-color: #1f192b;
    direction: rtl;
    text-align: center;
    font-size: 18px;
    padding: 0px;
    margin-bottom: 20px;
    border-radius: 80%;
}

.ul-nav {
    display: inline-block;
    list-style: none;
}

.ul-nav li a {
    display: inline-block;
    padding: 8px;
    color: #fff;
    text-decoration: none;
}

.ul-nav li a:hover {
    background: red;
    border-radius: 25px;
}

body {
    background-color: #c7c7c7;
    color: rgb(46, 33, 33);
    font-family: Arial;
}

.sizeslider{
    width: 45%;
    height: 30%;
    margin-top: 40px;
    margin-bottom: 25px;
}

.fotstyle{ 
    border-radius: 20px;
background-color: #1f192b;
color: aliceblue;
text-align: right;

}

.image{
    border-radius: 20px;
    width: 30%;
}